<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>User info</h2>
      <%= form_with model: @user, local:true do |f| %>
        <% if @user.errors.any? %>
         <%= @user.errors.count %>nd error
          <% @user.errors.full_messages.each do |message| %>
         <%= message %>
        <% end %>
       <% end %>
       <div>
        <label>Name</label><br>
        <%= f.text_field :name %> #ネームを表示
       </div>
       <div>
        <label>Image</label><br>
        <%= f.attachment_field :profile_image, autofocus: true, placeholder: "プロフィール画像" %> #プロフィール画像を表示
       </div>
       <div>
         <label>Introduction</label><br>
        <%= f.text_area :introduction %> 
        <div class="form-group">
         <%= f.submit 'Update User' %>
        </div>
       </div>
      <% end %>
    </div>
  </div>
</div>
<%= render 'books/footer', user: @user,book: @book %>
<!---->